<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="DiaryFrame">
		<title>Diary 15.04.0.1</title>
		<centered>1</centered>
		<id_arg>0</id_arg>
		<object class="wxAuiManager" variable="AuiManager1" member="yes">
			<object class="AuiManagerItem">
				<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
					<minsize>150,0</minsize>
					<object class="wxStaticBoxSizer" variable="LeftPortionStaticBoxSizer" member="no">
						<label>Diary Structure</label>
						<object class="sizeritem">
							<object class="wxGenericDirCtrl" name="ID_GENERICDIRCTRL1" variable="GenericDirCtrl1" member="yes">
								<defaultfolder>.</defaultfolder>
								<filter></filter>
								<size>93,247</size>
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
					</object>
				</object>
				<name>PaneName</name>
				<standardpanetype>Default</standardpanetype>
				<caption>Pane caption</caption>
				<captionvisible>0</captionvisible>
				<minimizebutton>0</minimizebutton>
				<maximizebutton>0</maximizebutton>
				<pinbutton>0</pinbutton>
				<closebutton>0</closebutton>
				<dockdirection>Left</dockdirection>
				<dockfixed>0</dockfixed>
				<dockabledirection></dockabledirection>
				<destroyonclose>0</destroyonclose>
				<firstadd>0</firstadd>
			</object>
			<object class="AuiManagerItem">
				<object class="wxAuiNotebook" name="ID_EditorsAUINBook" variable="EditorsAUINBook" member="yes">
					<pos>114,213</pos>
				</object>
				<name>PaneName</name>
				<caption>Pane caption</caption>
				<captionvisible>0</captionvisible>
				<minimizebutton>0</minimizebutton>
				<maximizebutton>0</maximizebutton>
				<pinbutton>0</pinbutton>
				<closebutton>0</closebutton>
				<row>1</row>
				<dockdirection>Center</dockdirection>
				<dockfixed>0</dockfixed>
				<dockabledirection></dockabledirection>
				<destroyonclose>0</destroyonclose>
				<firstadd>0</firstadd>
			</object>
		</object>
		<object class="wxMenuBar" variable="MenuBar" member="no">
			<object class="wxMenu" variable="Menu1" member="no">
				<label>&amp;File</label>
				<object class="wxMenuItem" name="ID_SaveMItem" variable="SaveMItem" member="yes">
					<label>Save</label>
					<accel>Ctrl+S</accel>
					<help>Save the current file</help>
					<handler function="OnSaveMItemSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_NewFile" variable="NewFile" member="yes">
					<label>New File</label>
					<accel>Ctrl+N</accel>
					<help>Add new tab</help>
					<handler function="OnNewTabSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM1" variable="MenuItem1" member="no">
					<label>Quit</label>
					<accel>Alt-F4</accel>
					<help>Quit the application</help>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu3" member="yes">
				<label>&amp;Edit</label>
				<object class="wxMenuItem" name="ID_ChangeFont" variable="ChangeFont" member="yes">
					<label>Change Font</label>
					<accel>Ctrl+F</accel>
					<help>Select  Font</help>
					<handler function="OnChangeFontSelected" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu2" member="no">
				<label>Help</label>
				<object class="wxMenuItem" name="idMenuAbout" variable="MenuItem2" member="no">
					<label>About</label>
					<accel>F1</accel>
					<help>Show info about this application</help>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR1" variable="StatusBar1" member="yes">
			<fields>1</fields>
			<widths>-1</widths>
			<styles>wxSB_NORMAL</styles>
		</object>
		<object class="wxFileDialog" variable="FileSelector" member="yes">
			<message>Select file</message>
			<style>wxFD_DEFAULT_STYLE|wxFD_SAVE</style>
		</object>
		<object class="wxFontDialog" variable="SelectFont" member="yes" />
	</object>
</wxsmith>
